@charset "UTF-8";
/*!
Theme Name: wpropertygroup Theme
Theme URI: http://www.shekhkamal.com
Author: Shekh Kamal Hussain
Author URI: http://www.shekhkamal.com
Description: Custom Theme for :
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wpropertygroup_theme
Tags:



wpropertygroup Theme  is distributed under the terms of the GNU GPL v2 or later.


*/
/* link Color */
/* =======================================================================
## ++ Media Queries
========================================================================== */
/*
    Used for media queries.
    Add these mixins in your normal scss flow.

    Eg.
    .container{
        width:1024px;

        @include tablets{
            width:90%;
        }
    }
*/
/* =======================================================================
## ++ Unit transform
========================================================================== */
/*
    Used for making containers have width in percentages.
    Usage: define elemnt width in px and the width of parent elemnt in px.
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}
*/
/*
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/
/*
    Link hover and active stage
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.55;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'g-bold';
  src: url("./assets/fonts/g-bold.ttf");
}
@font-face {
  font-family: 'g-reg';
  src: url("./assets/fonts/g-reg.ttf");
}
/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */
* html .clearfix, * html #skh-version__2, * html #skh-version__2 .menu--wrapper, #skh-version__2 * html .menu--wrapper, * html .mobile-menu__brand, * html .mobile-menu--wrapper {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix, * + html #skh-version__2, * + html #skh-version__2 .menu--wrapper, #skh-version__2 * + html .menu--wrapper, * + html .mobile-menu__brand, * + html .mobile-menu--wrapper {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after, #skh-version__2:after, #skh-version__2 .menu--wrapper:after, .mobile-menu__brand:after, .mobile-menu--wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}

/* Divi Builder CSS Fix as per Bootstrap */
.et_divi_builder #et_builder_outer_content .et_pb_row {
  max-width: 1140px;
}

#et_builder_outer_content div {
  color: inherit;
}

html {
  height: 100%;
  overflow: hidden;
}

.page-template-welcome {
  height: 100%;
}
.page-template-welcome #page {
  height: 100%;
}
.page-template-welcome #content {
  height: 100%;
}

.coming-soon-wrapper {
  background-color: grey;
  display: flex;
  height: 100%;
}
.coming-soon-img {
  background-size: cover;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.coming-soon-img img {
  max-width: 410px;
  display: block;
  margin: 0 auto;
}
.coming-soon-text {
  background-color: #1C1C1C;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coming-soon-text h1 {
  /* Great Things are com: */
  opacity: 0.8;
  font-family: "g-reg";
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 7.85px;
  text-align: center;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}
.coming-soon-text button {
  background: #FFFFFF;
  border: 4px solid rgba(37, 37, 37, 0.43);
  border-radius: 27.5px;
  font-family: "g-bold";
  font-size: 15px;
  color: #737373;
  letter-spacing: 0;
  text-align: center;
  height: 55px;
  min-width: 200px;
  position: absolute;
  bottom: 50px;
}

button {
  outline: none !important;
}

.subscribe-form-wrapper h3 {
  /* We’re Revamping Our: */
  opacity: 0.8;
  font-family: "g-reg";
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 7.85px;
  text-align: center;
  line-height: 43px;
  text-transform: uppercase;
  max-width: 500px;
}
.subscribe-form-wrapper h6 {
  /* Sign up to be the fi: */
  opacity: 0.8;
  font-family: "g-reg";
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 23px;
  margin-bottom: 35px;
}

.subscribe-form-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}
.subscribe-form-container .subscribe-form {
  margin-top: 8%;
}
.subscribe-form-container .subscribe-form .subscribe-btn {
  border: solid 4px #585757;
  border-radius: 100px;
  /* Mask: */
  background: rgba(255, 255, 255, 0.45);
}
.subscribe-form-container .subscribe-form input {
  height: 55px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none !important;
  min-width: 500px;
  padding-left: 20px;
  background-color: transparent;
  outline: none !important;
  color: white !important;
}
.subscribe-form-container .subscribe-form input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
.subscribe-form-container .subscribe-form input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.subscribe-form-container .subscribe-form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.subscribe-form-container .subscribe-form button {
  height: 55px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
  padding-left: 35px;
  padding-right: 35px;
  background-color: white;
  /* Notify Me!: */
  font-family: "g-bold";
  font-size: 15px;
  color: #737373;
  letter-spacing: 0;
  text-align: center;
}

.thank-you-page {
  background-color: #1C1C1C;
  display: block;
  height: 100%;
}

.page-template-thank {
  background-color: #1C1C1C;
  display: block;
  height: 100%;
  font-family: "g-reg";
}
.page-template-thank .thanks {
  opacity: 0.8 !important;
  font-family: "g-reg" !important;
  font-size: 25px !important;
  color: #FFFFFF !important;
  letter-spacing: 7.85px !important;
  text-align: center !important;
  line-height: 44px !important;
  text-align: center !important;
  text-transform: uppercase !important;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 2em;
}
@media screen and (max-width: 767px) {
  p {
    font-size: 13px;
  }
}

a {
  color: grey;
}

/* General styles for the modal */
.skh-modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}
.skh-modal__overlay.skh--show {
  opacity: 1;
  visibility: visible;
}

.skh-modal {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  z-index: 2000;
  visibility: hidden;
}
.skh-modal.modal--small {
  max-width: 30%;
}
.skh-modal.modal--medium {
  max-width: 65%;
}
.skh-modal.modal--large {
  max-width: 75%;
}

.skh--show {
  visibility: visible;
}

/* Content styles */
.skh-modal__content {
  background: #1C1C1C;
  position: relative;
  border-radius: 0px;
  margin: 0 auto;
}
.skh-modal__content .modal__header {
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.skh-modal__content .modal__header h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  flex-grow: 2;
}
.skh-modal__content .modal__header span {
  position: relative;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  margin-top: 35px;
  margin-right: 35px;
}
.skh-modal__content .modal__header span:hover {
  cursor: pointer;
  opacity: 8;
}
.skh-modal__content .modal__header span:before {
  content: '';
  width: 2px;
  height: 55px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  right: 25px;
}
.skh-modal__content .modal__header span:after {
  content: '';
  width: 2px;
  height: 55px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-45deg);
  right: 25px;
}
.skh-modal__content .modal__body {
  padding: 20px;
  height: 100%;
  display: flex;
  overflow: auto;
  padding-bottom: 50px;
}
.skh-modal__content .modal__footer {
  border-top: solid 1px #ddd;
  padding: 20px;
}

/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
.skh-effect-1 .skh-modal__content {
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s;
  height: 100%;
}

.skh--show.skh-effect-1 .skh-modal__content {
  transform: scale(1);
  opacity: 1;
  height: 100%;
}

/* Effect 2: Slide from the right */
.skh-effect-2 .skh-modal__content {
  transform: translateX(20%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.skh--show.skh-effect-2 .skh-modal__content {
  transform: translateX(0);
  opacity: 1;
}

/* Effect 3: Slide from the bottom */
.skh-effect-3 .skh-modal__content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.skh--show.skh-effect-3 .skh-modal__content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* Effect 4: Newspaper */
.skh-effect-4 .skh-modal__content {
  -webkit-transform: scale(0) rotate(720deg);
  -moz-transform: scale(0) rotate(720deg);
  -ms-transform: scale(0) rotate(720deg);
  transform: scale(0) rotate(720deg);
  opacity: 0;
}

.skh--show.skh-effect-4 ~ .skh-overlay,
.skh-effect-4 .skh-modal__content {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.skh--show.skh-effect-4 .skh-modal__content {
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

/* Effect 5: fall */
.skh-effect-5.skh-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.skh-effect-5 .skh-modal__content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(600px) rotateX(20deg);
  -moz-transform: translateZ(600px) rotateX(20deg);
  -ms-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0;
}

.skh--show.skh-effect-5 .skh-modal__content {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateZ(0px) rotateX(0deg);
  -moz-transform: translateZ(0px) rotateX(0deg);
  -ms-transform: translateZ(0px) rotateX(0deg);
  transform: translateZ(0px) rotateX(0deg);
  opacity: 1;
}

/* Effect 6: side fall */
.skh-effect-6.skh-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.skh-effect-6 .skh-modal__content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
  -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
  -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
  transform: translate(30%) translateZ(600px) rotate(10deg);
  opacity: 0;
}

.skh--show.skh-effect-6 .skh-modal__content {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
  -moz-transform: translate(0%) translateZ(0) rotate(0deg);
  -ms-transform: translate(0%) translateZ(0) rotate(0deg);
  transform: translate(0%) translateZ(0) rotate(0deg);
  opacity: 1;
}

/* Effect 7:  slide and stick to top */
.skh-effect-7 {
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.skh-effect-7 .skh-modal__content {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}

.skh--show.skh-effect-7 .skh-modal__content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  border-radius: 0 0 3px 3px;
  opacity: 1;
}

/* Effect 8: 3D flip horizontal */
.skh-effect-8.skh-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.skh-effect-8 .skh-modal__content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  -moz-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.skh--show.skh-effect-8 .skh-modal__content {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}

/* Effect 9: 3D flip vertical */
.skh-effect-9.skh-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.skh-effect-9 .skh-modal__content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -moz-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.skh--show.skh-effect-9 .skh-modal__content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}

/* Effect 10: 3D sign */
.skh-effect-10.skh-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.skh-effect-10 .skh-modal__content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.skh--show.skh-effect-10 .skh-modal__content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}

/* Effect 11: Super scaled */
.skh-effect-11 .skh-modal__content {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.skh--show.skh-effect-11 .skh-modal__content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* Effect 12:  Just me */
.skh-effect-12 .skh-modal__content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.skh--show.skh-effect-12 ~ .skh-overlay {
  background: #e74c3c;
}

.skh-effect-12 .skh-modal__content h3,
.skh-effect-12 .skh-modal__content {
  background: transparent;
}

.skh--show.skh-effect-12 .skh-modal__content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* Effect 14:  3D Rotate from bottom */
.skh-effect-14.skh-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.skh-effect-14 .skh-modal__content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
  -moz-transform: translateY(100%) rotateX(90deg);
  -ms-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.skh--show.skh-effect-14 .skh-modal__content {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -moz-transform: translateY(0%) rotateX(0deg);
  -ms-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
}

/* Effect 15:  3D Rotate in from left */
.skh-effect-15.skh-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.skh-effect-15 .skh-modal__content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.skh--show.skh-effect-15 .skh-modal__content {
  -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;
}

/* Effect 16:  Blur */
.skh--show.skh-effect-16 ~ .skh-overlay {
  background: rgba(180, 46, 32, 0.5);
}

.skh--show.skh-effect-16 ~ .container {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}

.skh-effect-16 .skh-modal__content {
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  opacity: 0;
}

.skh--show.skh-effect-16 ~ .container,
.skh-effect-16 .skh-modal__content {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.skh--show.skh-effect-16 .skh-modal__content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* Effect 17:  Slide in from bottom with perspective on container */
.skh--show.skh-effect-17 ~ .container {
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.skh--show.skh-effect-17 ~ .container,
.skh--show.skh-effect-17 ~ .skh-overlay {
  -webkit-transform: rotateX(-2deg);
  -moz-transform: rotateX(-2deg);
  -ms-transform: rotateX(-2deg);
  transform: rotateX(-2deg);
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.skh-effect-17 .skh-modal__content {
  opacity: 0;
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
}

.skh--show.skh-effect-17 .skh-modal__content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

/* Effect 18: Slide from the right */
.skh-effect-18 {
  position: absolute;
  right: 0px;
  margin: 0px;
  height: 100%;
}
.skh-effect-18 .skh-modal__content {
  border-radius: 0px;
  transform: translateX(100%);
  opacity: 1;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.skh-effect-18 .modal__body {
  max-height: 100%;
}

.skh--show.skh-effect-18 .skh-modal__content {
  transform: translateX(0);
  opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select {
  color: #555;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 7px 5px;
  font-weight: normal;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="range"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder, select::-moz-placeholder {
  color: #999;
  opacity: 0.8;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="range"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #999;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
  border: solid 1px #555;
}

textarea {
  width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: solid 1px #333;
  border-radius: 3px;
  line-height: 1;
  padding: 11px 2px;
  background-color: #ddd;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#skh-version__2 {
  position: relative;
  /* Menu Container */
  /* Menu Item List Elements */
}
@media screen and (max-width: 767px) {
  #skh-version__2 .menu {
    display: none;
  }
}
#skh-version__2 .menu__brand {
  width: 25%;
  display: block;
  float: left;
}
#skh-version__2 .menu__brand img {
  max-height: 55px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#skh-version__2 .menu__list {
  text-align: right;
}
#skh-version__2 .menu__list--wrapper {
  position: relative;
  list-style-type: none;
  width: 75%;
  display: block;
  float: left;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 12px;
}
#skh-version__2 .menu--wrapper {
  position: relative;
  background-color: #fff;
  z-index: 10;
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 20px 25px;
}
#skh-version__2 .menu .menu-item {
  display: inline-block;
  margin: 5px;
  position: relative;
}
#skh-version__2 .menu .menu-item a {
  padding: 10px 15px;
  background-color: transparent;
  text-decoration: none;
  color: #555;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#skh-version__2 .menu .menu-item a:hover {
  color: #d94f5c;
}
#skh-version__2 .menu .menu-item:before, #skh-version__2 .menu .menu-item:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border: 2px solid #d94f5c;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#skh-version__2 .menu .menu-item:before {
  top: -4px;
  left: 8px;
  border-width: 2px 0 0 2px;
}
#skh-version__2 .menu .menu-item:after {
  right: 8px;
  bottom: -5px;
  border-width: 0 2px 2px 0;
}
#skh-version__2 .menu .menu-item:hover a,
#skh-version__2 .menu .menu-item:focus a,
#skh-version__2 .menu .menu-item.current_page_item a {
  color: #d94f5c;
}
#skh-version__2 .menu .menu-item:hover:before, #skh-version__2 .menu .menu-item:hover:after,
#skh-version__2 .menu .menu-item:focus:before,
#skh-version__2 .menu .menu-item:focus:after,
#skh-version__2 .menu .menu-item.current_page_item:before,
#skh-version__2 .menu .menu-item.current_page_item:after {
  opacity: 1;
}
#skh-version__2 .menu .menu-item:hover:before,
#skh-version__2 .menu .menu-item:focus:before,
#skh-version__2 .menu .menu-item.current_page_item:before {
  top: -4px;
  left: 0px;
}
#skh-version__2 .menu .menu-item:hover:after,
#skh-version__2 .menu .menu-item:focus:after,
#skh-version__2 .menu .menu-item.current_page_item:after {
  right: 0px;
  bottom: -4px;
}
#skh-version__2 .menu--is-fixed {
  height: 100px;
}
#skh-version__2 .menu--is-fixed .menu--wrapper {
  position: fixed;
  width: 100%;
}
#skh-version__2 .menu--is-fixed.scroll .menu--wrapper {
  padding: 8px 25px;
}
#skh-version__2 .menu--is-fixed.scroll .menu__list--wrapper {
  padding-top: 4px;
}
#skh-version__2 .menu--is-fixed.scroll .menu__brand img {
  max-height: 40px;
}

/*
**
** MOBILE VERSION
**
*/
.mobile-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 50px;
}
.mobile-menu .overlay {
  content: '';
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 50px;
}
.mobile-menu .overlay.open-menu {
  width: 100%;
}
.mobile-menu__brand {
  display: block;
  float: right;
}
.mobile-menu__brand img {
  max-height: 35px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  float: right;
}
.mobile-menu__list {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 5;
  top: 50px;
  left: 0px;
  background-color: #fff;
  overflow: hidden;
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mobile-menu__list a {
  width: 100%;
  padding: 10px 15px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: solid 1px #ddd;
}
.mobile-menu__list a:hover {
  text-decoration: none;
  color: #d94f5c;
}
.mobile-menu__list a {
  display: none;
}
.mobile-menu__list.open-menu {
  width: 80%;
}
.mobile-menu__list.open-menu a {
  display: block;
}
.mobile-menu__list--wrapper {
  position: relative;
  list-style-type: none;
  display: block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mobile-menu--wrapper {
  position: relative;
  background-color: #fff;
  z-index: 10;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 8px 15px;
  background-color: #f5f5f5;
}

/* btn */
.toggleTopMenu-mobile {
  position: absolute !important;
  top: 12px;
}

.anim-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.anim-btn span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.anim-btn span:before,
.anim-btn span:after {
  position: absolute;
  content: '';
}
.anim-btn span,
.anim-btn span:before,
.anim-btn span:after {
  width: 30px;
  height: 3px;
  background-color: #888;
  display: block;
}
.anim-btn span:before {
  margin-top: -8px;
}
.anim-btn span:after {
  margin-top: 8px;
}

/* example 5 */
.example5 span {
  transition-duration: 0s;
  transition-delay: .1s;
}

.example5:hover span {
  background-color: transparent;
  transition-delay: .1s;
}

.example5 span:before {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}

.example5:hover span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, .2s;
}

.example5 span:after {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}

.example5:hover span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, .2s;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0px;
  padding: 0px;
}

article {
  margin-top: 25px;
}

.comments-area h2 {
  font-size: 14px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}
.comments-area .comment-reply-title {
  font-size: 14px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}

#commentform label {
  display: block !important;
  color: #777 !important;
}
#commentform input {
  display: block !important;
  width: 70% !important;
}

/* Widget */
aside {
  margin-top: 25px;
}
aside .search-form span {
  display: none;
}
aside .widget {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eee;
}
aside .widget-title {
  font-size: 15px;
  font-weight: bold;
}
aside ul li {
  padding: 5px 0px;
  font-size: 14px;
}
aside ul li a {
  color: #777;
}
aside .search-form label {
  width: 70% !important;
}
aside .search-form input {
  width: 100%;
  border: 1px #ddd solid;
}
aside .search-form .search-submit {
  width: 30% !important;
  margin-left: -8px;
}
aside .widget_search label {
  width: 100% !important;
}
aside .widget_search label span {
  display: none;
}
aside .widget_search input {
  width: 100% !important;
}
aside .widget_search .search-submit {
  display: none;
}

/*# sourceMappingURL=style.css.map */
