/* =======================================================================
## ++ Globals
========================================================================== */

html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'g-bold';
    src: url('./assets/fonts/g-bold.ttf');
}

@font-face {
    font-family: 'g-reg';
    src: url('./assets/fonts/g-reg.ttf');
}

$bold : "g-bold";
$reg : "g-reg";

/* =======================================================================
## ++ Cleafix
========================================================================== */


/* float clearing for IE6 */

* html .clearfix {
    height: 1%;
    overflow: visible;
}


/* float clearing for IE7 */

*+html .clearfix {
    min-height: 1%;
}


/* float clearing for everyone else */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.clr {
    clear: both;
}


/* Divi Builder CSS Fix as per Bootstrap */

.et_divi_builder #et_builder_outer_content .et_pb_row {
    max-width: 1140px;
}

#et_builder_outer_content {
    div {
        color: inherit;
    }

}

html {
    height: 100%;
    overflow: hidden;
}


.page-template-welcome {
    height: 100%;

    #page {
        height: 100%;
    }

    #content {
        height: 100%;
    }
}


.coming-soon- {

    &wrapper {
        background-color: grey;
        display: flex;
        height: 100%;
    }

    &img {
        background-size: cover;
        flex-basis: 50%;
        display: flex;
        align-items: center;

        img {
            max-width: 410px;
            display: block;
            margin: 0 auto;
        }
    }

    &text {
        background-color: #1C1C1C;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            /* Great Things are com: */
            opacity: 0.8;
            font-family: $reg;
            font-size: 25px;
            color: #FFFFFF;
            letter-spacing: 7.85px;
            text-align: center;
            line-height: 44px;
            text-align: center;
            text-transform: uppercase;
        }

        button {
            background: #FFFFFF;
            border: 4px solid rgba(37, 37, 37, 0.43);
            border-radius: 27.5px;
            font-family: $bold;
            font-size: 15px;
            color: #737373;
            letter-spacing: 0;
            text-align: center;
            height: 55px;
            min-width: 200px;
            position: absolute;
            bottom: 50px;

        }
    }
}

button {
    outline: none !important;
}

.subscribe-form-wrapper {
    h3 {
        /* We’re Revamping Our: */
        opacity: 0.8;
        font-family: $reg;
        font-size: 25px;
        color: #FFFFFF;
        letter-spacing: 7.85px;
        text-align: center;
        line-height: 43px;
        text-transform: uppercase;
        max-width: 500px;
    }

    h6 {
        /* Sign up to be the fi: */
        opacity: 0.8;
        font-family: $reg;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 23px;
        margin-bottom: 35px;
    }
}

.subscribe-form-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;


    .subscribe-form {
        margin-top: 8%;

        .subscribe-btn {
            border: solid 4px #585757;
            border-radius: 100px;
            /* Mask: */
            background: rgba(255, 255, 255, 0.45);

        }

        input {
            height: 55px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            border: none !important;
            min-width: 500px;
            padding-left: 20px;
            background-color: transparent;
            outline: none !important;
            color: white !important;

            &::-moz-placeholder {
                color: #fff;
                opacity: 0.7;
            }

            &:-ms-input-placeholder {
                color: #fff;
                opacity: 0.7;
            }

            &::-webkit-input-placeholder {
                color: #fff;
                opacity: 0.7;
            }
        }

        button {
            height: 55px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            border: none;
            padding-left: 35px;
            padding-right: 35px;
            background-color: white;

            /* Notify Me!: */
            font-family: $bold;
            font-size: 15px;
            color: #737373;
            letter-spacing: 0;
            text-align: center;
        }
    }
}


.thank-you-page {
    background-color: #1C1C1C;
    display: block;
    height: 100%;
}

.page-template-thank {
    background-color: #1C1C1C;
    display: block;
    height: 100%;
    font-family: $reg;

    .thanks {


        opacity: 0.8 !important;
        font-family: $reg !important;
        font-size: 25px !important;
        color: #FFFFFF !important;
        letter-spacing: 7.85px !important;
        text-align: center !important;
        line-height: 44px !important;
        text-align: center !important;
        text-transform: uppercase !important;


    }
}